<!DOCTYPE html> 
<html> 
<head> 
	<title>StoryMaker</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="js/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" href="css/sm.css"/>
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/jquery.mobile-1.2.0.min.js"></script>
	<script src="js/textile.js"></script>
	<script src="js/smtemplate.js"></script>
</head> 
<body> 

<div id="pageMain" data-role="page" data-theme="c">

	<div id="menuMain" data-role="content">	
	
	<ul id="mainMenuList" data-role="listview" data-inset="true" data-filter="false">
	</ul>

		
	</div><!-- /content -->

</div><!-- /page -->

<div id="hiddenDiv" data-role="page">

</div>
<script>

$(document).bind('pagechange', function() {
  $('.ui-page-active .ui-listview').listview('refresh');
  $('.ui-page-active :jqmData(role=content)').trigger('create');
});

$(document).ready(function() {


$.ajax({
  url: 'sample.txt',
  beforeSend: function ( xhr ) {
  }
}).done(function ( data ) {

	var pageData = convertTextile(data);
	
	$(pageData).filter('h1').each(function(i) {
	
	    var current = $(this);
	    current.attr("id", "title" + i);
	 
	    $("#mainMenuList").append("<li><a id='link" + i + "' href='#page" +
	        i + "' title='" + current.attr("tagName") + "'>" + 
	        current.html() + "</a></li>");
	       
	       var newPageData = '';
	     
	       var nextNode = $(this);
	     
	       var notH1 = false;
	       
	       while (!notH1)
	       {
	       		newPageData += "<" + nextNode[0].tagName + ">";
	       		newPageData += nextNode.html();
	       		newPageData += "</" + nextNode[0].tagName + ">";
	       		
	       		nextNode = nextNode.next();
	       		
	       		if (nextNode[0] === undefined)
	       			break;
	       		else
	       			notH1 = (nextNode[0].tagName == "H1");
	       		
	       }
	       
			$("body").append('<div id="page' + i + '" data-role="page" data-theme="c"><div id="page' + i + '" data-role="content">' + newPageData + '</div></div>');
		
		 	$('#page' + i + ' a').attr("rel", "external");
			$('#page' + i).trigger("create");
			
			$("#mainMenuList").listview("refresh");
		
		});
		
		
		
	});

	
});
</script>
</body>
</html>
